main {
  @include color-set($main-bg-color);
  width: 100%;
  padding: 0 $page-gutter*1.5;
}

main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
    flex: 1;
  }
}

@import 'main/content';
@import 'main/sidebar';
