<!-- <div class="row">
<ul class="small-block-grid-4"> 
  <li class ="primary">Text</li>
  <li class ="secondary">Text</li> 
  <li class ="tertiary">Text</li> 
  <li class ="quadrary">Text</li> 
</ul>
</div> -->

<!-- <div class="row">
<ul class="small-block-grid-5"> 
  <li class ="primary base">Text</li>
  <li class ="primary light">Text</li> 
  <li class ="primary lighter">Text</li> 
  <li class ="primary dark">Text</li> 
  <li class ="primary darker">Text</li> 
</ul>
</div> -->

<div class="row">
<div class="small-12 columns">
  <!-- HTML to make a viewable palette -->
 <h1>Color Schemer Generated Palette</h1>
 <div class="box">
   <div class="box-small primary-ddd">Darkest</div>
   <div class="box-small primary-dd">Darker</div>
   <div class="box-small primary-d">Dark</div>
   <div class="box-small primary">Primary</div>
   <div class="box-small primary-l">Light</div>
   <div class="box-small primary-ll">Lighter</div>
   <div class="box-small primary-lll">Lightest</div>
 </div> 
 <div class="box">
   <div class="box-small secondary-ddd">Darkest</div>
   <div class="box-small secondary-dd">Darker</div>
   <div class="box-small secondary-d">Dark</div>
   <div class="box-small secondary">Secondary</div>
   <div class="box-small secondary-l">Light</div>
   <div class="box-small secondary-ll">Lighter</div>
   <div class="box-small secondary-lll">Lightest</div>
 </div>
 
 <div class="box">
   <div class="box-small tertiary-ddd">Darkest</div>
   <div class="box-small tertiary-dd">Darker</div>
   <div class="box-small tertiary-d">Dark</div>
   <div class="box-small tertiary">Tertiary</div>
   <div class="box-small tertiary-l">Light</div>
   <div class="box-small tertiary-ll">Lighter</div>
   <div class="box-small tertiary-lll">Lightest</div>
 </div> 

 <div class="box">
   <div class="box-small quadrary-ddd">Darkest</div>
   <div class="box-small quadrary-dd">Darker</div>
   <div class="box-small quadrary-d">Dark</div>
   <div class="box-small quadrary">Quadrary</div>
   <div class="box-small quadrary-l">Light</div>
   <div class="box-small quadrary-ll">Lighter</div>
   <div class="box-small quadrary-lll">Lightest</div>
 </div> 

</div>
</div>



