<footer data-lorem="1p"></footer>  


<!--    <footer class="row">
  	<div class="large-12 columns">
    	<hr/>
	    <div class="row">
	    	<div class="large-6 columns">
	        	<p>{{ with .Site.Params.Copyright }}{{.}}{{ else }}&copy; {{.Now.Format "2006"}}. All rights reserved. {{end}}</p>
	      	</div>
	      	<div class="large-6 columns">
	      		<ul class="footer-menu">
					{{ range .Site.Menus.footer }}
					<li><a href="{{.Url}}">{{ .Name }}</a></li>
					{{ end }}
				</ul>
		 	</div>
	    </div>
    </div>
</footer> -->