# data file used to build the Vorpal based command line interface for the 4S environment.
cprompt: "4s$" # this is default can be overwritten in 4S configuration files

actionsPath: "cli/cliActions.js"
libPath : "cli/cli.js"
commands:

  debug:
    args: "[subcmd] [level]"
    alias: "db"
    description: "Control the Debug Level"
    default:"enable"
    # options: " "
    subcmd:
      view:
        alias: "v"
        description: "View Debug Object and Current Debug Environment Setting"
      enable:
        alias: "e"
        description: "Enable/Reset Debugging Level, Default is all levels or specify 1 to 3"
        args: ["level"]
        default: "3"
      disable:
        description: "Disable all Debugging (use enable to change level)"
        alias: "d"
      status:
        description: "Displays Which Debugging Levels are current on"
        alias: "s"

  deploy:
    args: "[subcmd] [location]"
    alias: "dp"
    description: "Deploy to a service/location"
    #options: " "
    default: "ghpages"
    subcmd:
      s3:
        description: "Deploy to an Amazon S3 bucket or bucket folder"
      ghpages:
        alias: "gh"
        description: "Deploy to a Github ghpages repo"
      local:
        description: "Deploy to a local directory"
      remote:
        description: "Deploy via ssh to remove server"
      git:
        description: "Deploy via git (other than github) where git server has a post-receive hook to deploy"

  development:
    args: ""
    #options: " "
    alias: "dev"
    description: "build the dev version of static site, start watches and browser-sync"

  restart:
    args: ""
    #options: " "
    alias: "rs"

  view :
    args: "[objPath]"
    alias: "v"
    description: "view the master object"
