$topbar-height: 4em;

#topbar  {
  @include color-set($topbar-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: $topbar-height;
  padding: 0 $page-gutter;
}

#topbar__sitename {
  flex: 1 1;
  @include color-set($topbar-bg-color,1);
}

#topbar__nav {
  flex: 2 2;
  @include color-set($topbar-bg-color,2);
  }

#topbar__search {
  flex: 1 1;
  @include color-set($topbar-bg-color,3);
}


#topbar__language{
 flex: 1 1;
  @include color-set($topbar-bg-color,4);
}