# data file used to build the Vorpal based command line interface for the 4S environment.
#
#
#
cprompt: "4s$"  # this is default can be overwritten in 4S configuration files
commands:
    cmd: "config"
    description: "Configuration File Management"
    options: ""
    arg: ["subcmd"]
    valids: ["load","view","write"]
