# Danger  Master Configuration File for Super Static Starter
# Make sure you have a backup of some sort before editing this file.
site:
  name: "About the Super Static Site Starter" # Change to your specific site"
  description: "website about using the super static site starter repo"  # Change this
  alias: "AS4"  # change this, will be used as shorthand in some urls

  # cliprompt: ""  # uncomment and edit to override default prompt
build: #an inline comment
  type: "dev"
  devport: "8090"
deploy:
  ghpages:
    location: "default" # if more than one location this is the default.
    default:
      url: "dkebler.github.io/super-static-site-starter"
    test:
      url: "dkebler.github.io/test"
      repo: "https://github.com/dkebler/test.git"
  local:
    path: "/var/www/"
    serverPort: "8080"
  remote: # for remote server, connect via ssh or git with post push hook.
    user: ""
    url : ""
  s3:
    location: "testing" # if more than one location this is the default.  et this
    testing:
      profile: "DGK-deploy"
      region: "us-west-2"
      url: "test.david.kebler.net"
      bucket: "test.david.kebler.net"
    live:
      profile: "DGK-deploy"
      region: "us-west-2"
      url: "david.kebler.net"
      bucket: "david.kebler.net"
  html:
    template: "hugo"
    generator: "hugo"
  dir: # repo directories you can change to your liking.  All must end with /
    devBuild: "builds/dev/"
    distBuild: "builds/dist/"
    lib: "lib/"
    html: "assets/html" #html templates
    styles: "assests/styles/" #different sytle languages as subdirectories  css/ postcss/ sass/  stylus/  less/
    content: "content/" # where the generator specific content lives.  Will use html.template for the subdirectory
# Path where the data to build the command line interface resides.  N.B. recommend the directory where this file resides.
# when this file is loaded the cliData will be added to this object hash as cliData:    
cliConfigPath:  "config/cliConfig.cson"
