# Danger  Master Configuration File for Super Static Starter
# Make sure you have a backup of some sort before editing this file.
browser: "firefox"  # your prefered browser to open (dev and deploy), browser name must match command line launch name for your OS
# browser: ["google-chrome", "firefox"]  # can be array of browsers
site:
  name: "About the Super Static Site Starter" # Change to your specific site"
  description: "website about using the super static site starter repo" # Change this
  alias: "AS4" # change this, will be used as shorthand in some urls
  # cliprompt: ""  # uncomment and edit to override default prompt
build:  # don't set these here set dynamically based on the build (dev or dist/deploy)
    type: "dev"  #default is dev
    url: "http://localhost:8090" #default
dev:
  url: "http://localhost:8090"
deploy:
  default: "gh"
  type: " "
  gh:
    cache: 'node_modules/gh-pages/.cache'
    location: "default" # if more than one location this is the default.
    default:
      url: "https://dkebler.github.io/super-static-site-starter"
    root:
      url: "https://dkebler.github.io"
      repo: "https://github.com/dkebler/dkebler.github.io.git"
  local:
    path: "/var/www/"
    port: "8080"
  git: # for remote server, connect via ssh or git with post push hook.
    user: ""
    url : ""
  s3:
    location: "testing" # if more than one location this is the default.  et this
    testing:
      profile: "DGK-deploy"
      region: "us-west-2"
      url: "http://test.david.kebler.net"
      bucket: "test.david.kebler.net"
    live:
      profile: "DGK-deploy"
      region: "us-west-2"
      url: "http://david.kebler.net"
      bucket: "david.kebler.net"
html:
  template: "hugo/"  # template subdirectory under dir.html
  generator: "hugo"  # static generator to run must match js file the lib/html directory
  layouts: "layouts/" # subdiretory of where generator expects page layouts
  transfile: "trans.json"  # translation file from base to templating engine
  base: "base/"   # location of template indpendent partials and layout
  dest: "_default/"  # subdirectory of template layouts where generator expects to find files
dir: # repo directories you can change to your liking.  All must end with /
  dev: "builds/dev/"  # development build path
  dist: "builds/dist/"  # distribution build path for deployment
  lib: "lib/"
  html: "assets/html/" #html templates
  styles: "assets/styles/" #different sytle languages as subdirectories  css/ postcss/ sass/  stylus/  less/
  scripts: "assets/scripts/"
  fonts: "assets/fonts/"
  icons: "assets/scripts/"
  images: "assets/images/"  # site and branding images
  content: "content/" # where the generator specific content lives.  Will use html.template for the subdirectory
  content_images: "content/images" # path or url reposity where images used in content reside (as opposed to site images above)

# Path where the data to build the command line interface resides.  N.B. recommend the directory where this file resides.
# when this file is loaded the cliData will be added to this object hash as cliData:
cliDataPath: "cli/cliData.cson"
