// stytling for document taxonomy tags for a page or tag cloud


.tags {

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

}

.tag {

  @include color-set($tags-bg-color);

  &:hover {
    @include color-set($tags-bg-color, 4);
  }

  border: .094em solid color-set($tags-bg-color, -5);; 
  border-radius: .625em;
  padding: 0.3em;
  margin: 0.2em;

}
