@@include('head/doctype.njk')
<head>
<title>A Page Title</title>

    @@include('head/meta.njk')
    @@include('head/og.njk')
    @@include('head/css.njk')
    @@include('head/fonts.njk')
    @@include('head/javascript.njk')


</head>
