/* =============================================================================
  HOLY GRAIL
============================================================================= */

.holy-grail {
  display: flex;
  flex-direction: column;
}

.holy-grail__header,
.holy-grail__navbar,
.holy-grail__footer {
  flex: 0 0 100%;
  }

.holy-grail__main {
  display: flex;
  flex-direction: column;
}

.holy-grail__sidebar--first {
  order: 1;
}

.holy-grail__sidebar--second {
  order: 3;
}

.holy-grail__content {
  order: 2;
}

// @media all and ( min-width: 720px ) {
//
//   .holy-grail__main {
//     flex-direction: row;
//   }
//
//   .holy-grail__sidebar {
//     flex: 0 0 180px;
//   }
//
//   .holy-grail__content {
//     flex: 1;
//   }
//
// }

// @media all and ( min-width: 960px ) {
//
//   .holy-grail__sidebar {
//     flex: 0 0 300px;
//   }
//
// }
